{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Sign up</title>
    <link rel="stylesheet" href="{% static 'css/log.css' %}">

</head>
<body>
    <main>
        <div class="row">
            <div class="colm-form">
                <div class="form-container">
                    <input type="text" placeholder="Username">
                    <input type="password" placeholder="Password">
                    <button class="btn-login">Login</button>
                    <button class="btn-new"> <a href="/register" style="color: white;">Create new Account</a></button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>