{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/log.css' %}">

</head>
<body>
    <main>
        <div class="row">
            <div class="colm-form">
                <div class="form-container">
                    {% for i in messages %}
                    <h4 style="margin-top: 30px;">{{i}}</h4>
                    {% endfor %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input name="fullName" type="text" placeholder="Fullname">
                        <input name="username" type="text" placeholder="Username">
                        <input name="email" type="text" placeholder="Email address or phone number">
                        <input name="password" type="password" placeholder="Password">
                        <input name="password_again" type="password" placeholder="Password Again">
                        <button type="submit" class="btn-login">Register</button>
                        <button class="btn-new"> <a href="/login" style="color: white;">Have an account?</a></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>